:root {
  --text-color-red: #e75a50;
  --main-text: #ff00ff;
}

/* landing section */
#main {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  #main {
    background-image: url(./img/mainMob.jpg);
  }
}

/* services section */
#services {
  min-height: 65vh;
  height: fit-content;
}

/* Choose Us section */
#choose-us {
  margin: auto;
  width: 90vw;
  height: 50vh;
  background: url(./img/chooseUs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: sepia(100%);
}

/* Working hours */
.working-hours {
  height: 40vh;
}

.img-full {
  width: 100%;
  height: auto;
}

.img-90 {
  width: 83%;
  height: auto;
}

/* Helpers */
.main-text {
  color: var(--main-text);
}

.red-text {
  color: var(--text-color-red);
}

.red-bg {
  background-color: var(--text-color-red);
}

.white {
  color: #fff;
}
